data/*
!data/SemEval2010_task8_all_data.zip
env_Biobert_RE/
src/__pycache__
src/model/__pycache__
src/model/BERT/__pycache__
src/tasks/__pycache__
additional_models/biobert_v1.1_pubmed.tar.gz
additional_models/biobert_v1.1_pubmed